.ppq-audio-player .play-pause-btn .play-pause-icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.ppq-audio-player .play-pause-btn .play-pause-icon:after, .ppq-audio-player.player-playing .play-pause-icon:after {
    content: "\f04b";
    color: #30a4e6;
    font-size: 16px;
    margin-left: 3px;
}

.ppq-audio-player {
    line-height: 91px;
    position: relative;
    overflow: hidden;
    height: 80px;
    margin: 0 auto;
    background: #f4f4f4
}

.ppq-audio-player audio {
    position: absolute;
    vertical-align: baseline
}

.ppq-audio-player .play-pause-btn {
    float: left;
    margin: 29px 0 0 12px
}

.ppq-audio-player .play-pause-btn .play-pause-icon {
    font: normal normal normal 14px/1 FontAwesome;
    position: relative;
    display: block;
    width: 31px;
    height: 31px;
    border: 3px solid #30a4e6;
    border-radius: 100%;
    background-color: #fff
}

.ppq-audio-player .play-pause-btn .play-pause-icon:after {
    display: block;
    content: "\f04b";
    background-position: 0 0;
    width: 17px;
    height: 18px
}

.ppq-audio-player.player-playing .play-pause-icon:after {
    width: 12px;
    height: 17px;
    content: "\f04c";
    margin-left: 0;
}

.ppq-audio-player .player-time {
    float: left;
    width: 51px;
    margin-right: 8px;
    text-align: right
}

.ppq-audio-player .player-time-duration {
    float: right;
    margin: 0 0 0 8px;
    text-align: left
}

.ppq-audio-player .player-bar {
    position: relative;
    overflow: hidden;
    height: 5px;
    margin-top: 43px;
    background-color: #fff
}

.ppq-audio-player .player-bar .player-bar-loaded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #ddd
}

.ppq-audio-player .player-bar .player-bar-played {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 3px;
    background: #30a4e6
}

